<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-sign-in-alt"></i> Login
            </h1>
            <%- include ('./partials/messages') %>

            <form action="/users/login" method="POST">
               
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter Email"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter Password"
                    />
                </div>
                <button type="submit" class="btn btn-secondary btn-block">
                    Login
                </button>
            </form>
            <br>
            <br>
            <div>
                <h5 class="text-center mb-3">or</h5>
            <form action="/users/facebook" method="GET">
                <button type="submit" class="btn btn-block btn-primary">
                    <span class="fa fa-facebook">Facebook</span> 
                </button>
                
            </form>

            <form action="/users/google" method="GET"> 
                <a href="/users/google" class="btn btn-block btn-danger"><span class="fa fa-google"></span> Google</a>
            </form>
        </div>
            <p class="lead mt-4">
                No Account? <a href="/users/register">Register</a>
            </p>
        </div>
    </div>
</div>
