
<head style="background-color: #edd3bc; background-repeat: no-repeat;">
      
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #edd3bc; ">
      <a class="navbar-brand" href="/dashboard">
        <img src="images/teatalk.png" alt="Fb" style='width:100px; height:100px;'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">People</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/friends">Friends</a>
            <a class="dropdown-item" href="/editprofile">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="users/logout">Logout</a>
          </div>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
      </form>
    </div>
  </nav>
</head>


<body style="background-color: #edd3bc; background-repeat: no-repeat" >

    <div class="row">
        <div class="col-sm-4 ">
            <img src="images/person1.png" alt="Fb" style='width:350px; height:250px; float:center;'></a>

        </div>
        
        <div class="col-sm-6">
          <div class="col-xl-md-6 m-left">
            <div class="card card-body text-center ">
                  <br>
                  <div class="card-header">
                    My Posts
                  </div>




                  <% var i=1; %>
                  <% data.forEach(function(item){ %>
  
                    <div class="input-group-prepend">
                      <span class="input-group-text"><%= user.name %></span>
                    </div>
                    
                    <input 
                    class="form-control"  
                    type="text" 
                    name="telnum" 
                    value="<%=item.text %>" 
                    readonly="readonly" 
                    />

                    <form
                      action="/delete/<%= item._id %>?_method=DELETE"
                      method="POST"
                    >
                    <button
                        type="submit"
                        class="btn btn-danger btn"
                    >
                        X
                    </button>
                  </form>
            
                  <% i++; }) %>
                




                </div>
            </div>
        </div>

</body>

