

.right-navbar a {
    float: right;
}
  
table, th, td {
  border: 1px solid rgb(218, 190, 190,0.5);
  border-collapse: collapse;
    
}
td {
  padding: 5px;
  text-align:center;
        
}

.cardbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  max-width: 700px;
  max-height: 500;
  
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.buttonss {
  width: 200px;
  margin: 0 auto;
  display: inline;}
  
.action_btn {
  width: 200px;
  margin: 0 auto;
  display: inline;}

